/* body {
    background: #000;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body a {
    color: #fff;
}

body section#secondary-section a {
    color: red;
}

body section a {
    color: turquoise;
}

a {
    color: orange;
}

form {
    background: white;
    color: gray;
} */

/* ---------------------------- GLOBAL ELEMENTS ---------------------------- */

body {
    background: #fff;
    color: #000;
}

a,
a:active,
a:visited,
a:focus {
    color: rgb(255, 51, 0);
}

a:hover {
    color: #a20d01;
}

button,
input[type="button"] {
    background: rgb(255, 51, 0);
    color: #fff;
    border: none;
    border-bottom: 1px solid #ca4502;
    cursor: pointer;
}

button a:hover,
input[type="button"]:hover {
    background: #a20d01;
}

button a,
button a:active,
button a:visited,
button a:focus {
    color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #000; */
}

body > footer {
    background: #ccc;
    border-top: 3px solid #808080;
}

body > footer p {
    color: #616161;
}

body > header {
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15);
}

body > header .main-logo {
    color: #000;
}

/* ---------------------------- HOMEPAGE ---------------------------- */
/*section .hero auto simainei oti uparxei element me tin klasi hero mesa se ena section*/
section.hero{
    background: url("assets/images/collegelink.jpg") no-repeat center;
    background-size: 100%;
}  /*auto simainei ena section me class hero*/

section.hero form{
    background: #fff;
}