html{
    position: relative;
    min-height: 100%;
}

body.homepage-style {
    background: url(hotel6.jpg);
    background-size: cover;
    background-position: center;

    /* font-family: 'Lato'; */
    /* color: white; */
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* main.homepage-style {
    background: url(hotel6.jpg);
    background-size: cover;
    background-position: center;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #000; */
    font-weight: 400 !important;
}
/* footer {
    margin-top: 10;
} */

/* body > footer {
    border-top: 1px solid #fff;
} */

/* body > header {
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.25);
} */

/* header {
    background: #ccc !important;
} */

header.header-shadow{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0);
}

header.header-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    bottom:0px;
    left:1%;
    right:10%;
    width:99%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

header > nav div ul li > span.divider {
    font-size: 25px;
}

aside.sidebar-menu {
    width: 250px;
    vertical-align: top;
    /* height: 500px; */
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 60px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    background: #fff !important;
    /* border: 1px solid #000; */

    position:relative;
    /* -webkit-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    -moz-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    border-radius: 5px; */
}

/* aside.sidebar-menu div.sideba-form form input,
aside.sidebar-menu div.sideba-form form select,
aside.sidebar-menu div.sideba-form form textarea,
aside.sidebar-menu div.sideba-form form label,
aside.sidebar-menu div.sideba-form form input[type="button"] {
    width: 100%;
} */

main aside.sidebar-menu section div.sidebar-form {
    margin: auto !important;
    padding: 10px !important;
}

div.clear {
    clear: both;
}

aside.sidebar-menu:before {
    position: absolute;
    z-index: -1;
	content: "";
	right: 23px;
	top: 0px;
	width: 50px;
    height: 450px;
	background: #fff;
  -webkit-box-shadow: 27px -2px 6px -1px rgba(207,205,207,0.5);
  -moz-box-shadow: 27px -2px 6px -1px rgba(207,205,207,0.5);
  box-shadow: 27px -2px 6px -1px rgba(207,205,207,0.5);
  -webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
}

aside.sidebar-menu:after {
    position: absolute;
    z-index: -1;
	content: "";
	right: 180px;
	top: 120px;
	width: 50px;
    height: 200px;
	background: #777;
  -webkit-box-shadow: -27px -6px 6px -1px rgba(207,205,207,0.5);
  -moz-box-shadow: -27px -6px 6px -1px rgba(207,205,207,0.5);
  box-shadow: -27px -6px 6px -1px rgba(207,205,207,0.5);
  -webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

#formCity,
#formRoomType,
#form-count-guests {
    width: 175px;
    height: 45px;
    border-radius: 7px 7px 7px 7px;
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 5px;
}

#checkIn,
#checkOut {
    width: 175px;
    height: 45px;
    border-radius: 7px 7px 7px 7px;
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 15px;
}


ul {
    list-style-type:none;
}

section.hotel-list {

    width: 700px;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}

article.hotel {
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    height: 200px;
    -webkit-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    -moz-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    border-radius: 5px;
}

aside.article-aside{
    border-right: 2px solid #000 !important;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 15px;
    float: left;
    height: 120px;
    width: 150px;
}

section.hotel-list article div.hotel-info {
    /* margin-top: 20px; */
    padding-top: 10px;
    width: 505px;
    float: right;
}

.hotel-list .hotel-info button.btn.btn-info {
    bottom: auto;
    float: right;
    margin-right: 10px;
}

.hotel-list h6.search-results-title {
    color: #fff !important;
    background: #465699 !important;
    border-radius: 5px;
    padding: 10px;
}

section.hotel-list div.hotel-info h5.hotel-name {
    margin-bottom: 1px;
    padding: 1px;
}

section.hotel-list div.hotel-info p.hotel-address {
    margin-top: 1px;
    padding: 1px;
    line-height: 12px;
    margin-bottom: 5px;
    color: #808080;
    text-transform: uppercase;
}

section.hotel-list div.hotel-info p.hotel-description {
    margin-top: 5px;
    padding: 1px;
    line-height: 15px;
    margin-bottom: 5px;
    color: #808080;
    font-size: 15px;
}

/* article > p {
    float: right;
} */

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
  } */

p.copyrights {
    color: #fafafa !important;
    margin: auto !important;
    text-align: center !important;
    padding-top: 10px;
}

html,
body {
    height: 100%;
}

.container {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 18%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* h1 {
    font-weight: 400;
    font-size: 5em;
} */

hr {
    width: 570px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

form {
    margin: 0 auto;
}

body footer.list-page-footer {
    background: #ccc;
    border-top: 3px solid #808080;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 0;
    width: 100%; */
    height: 3rem;
    /* margin-top: auto; */
}


.typewriter h3 {
    color: #fff;
    /* font-family: Lato; */
    font-family: 'Roboto', sans-serif;
    width: 570px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(30, end),
      blink-caret 0.5s step-end infinite;
    /* animation-iteration-count: infinite; */
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 570px }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

  /* Login Page */
body > header.login-header {
    color: #000 !important;
}

input#email,
input#password {
    width: 175px;
    height: 45px;
    border-radius: 7px 7px 7px 7px;
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 5px;
}