body.homepage-style {
    background: url(hotel6.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato';
    /* color: white; */
}

/* footer {
    margin-top: 10;
} */

/* body > footer {
    border-top: 1px solid #fff;
} */

/* body > header {
    box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.25);
} */

header.css3-shadow{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0);
}

header.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    bottom:0px;
    left:1%;
    right:10%;
    width:99%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

aside.main-aside {
    width: 250px;
    height: 500px;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 60px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    /* border: 1px solid #000; */

    position:relative;
    -webkit-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    -moz-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    border-radius: 7px;
}

#formCity,
#formRoomType {
    width: 175px;
    height: 45px;
    border-radius: 7px 7px 7px 7px;
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 5px;
}

#checkIn,
#checkOut {
    width: 175px;
    height: 45px;
    border-radius: 7px 7px 7px 7px;
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 15px;
}


ul {
    list-style-type:none;
}

section.hotel-list {

    width: 700px;
    height: 500px;
    margin-top: 50px;
    margin-right: 60px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}

article{
    /* border: 1px solid #000; */
    margin-bottom: 10px;
    height: 200px;
    -webkit-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    -moz-box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    box-shadow: 4px 4px 12px -1px rgba(171,168,171,1);
    border-radius: 7px;
}

aside.article-aside{
    border-right: 2px solid #000 !important;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 15px;
    float: left;
    height: 170px;
    width: 150px;
}

.hotel-info {
    /* margin-top: 20px; */
    padding-top: 10px;
}


/* article > p {
    float: right;
} */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

p.copyrights {
    color: #fafafa !important;
    margin: auto !important;
    text-align: center !important;
}

html,
body {
    height: 100%;
}

.container {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 18%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 570px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

form {
    margin: 0 auto;
}

body > footer.page-footer {
    background: #ccc;
    border-top: 3px solid #808080;
}


.typewriter h3 {
    color: #fff;
    font-family: Lato;
    width: 570px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3.5s steps(30, end),
      blink-caret 0.5s step-end infinite;
    /* animation-iteration-count: infinite; */
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 570px }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }